<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="tab-pane active">
    <div ng-hide="report">
        <div class="panel panel-default">
            <div class="panel-body">
                Errore caricamento dati... <br/>
                <a class="btn-link" href="#/report-list">torna alla lista</a>
            </div>
        </div>
    </div>
    <div ng-show="report" class="report-view-container">
        <div class="panel panel-default">
            <div class="panel-body">
				<span>
					Segnalazione <strong>
						<span ng-if="report.folder == 'sent'">INVIATA</span>
						<span ng-if="report.folder != 'sent'">RICEVUTA
						</span>
					</strong>
					in data  {{report.createDate | date:'medium' }}

				</span>
                <a class="btn-link btn-back-to-list pull-right" href="#/report-list">torna alla lista</a>
                <div class="clear"></div>
                <br/>


                <filedset>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Qualifica o posizione professionale:</label>
                        <div class="col-sm-9">
                            <span class="form-control-static">{{report.currentPosition}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Sede di servizio:</label>
                        <div class="col-sm-9">
                            <span class="form-control-static">{{report.currentOrganization}}</span>
                        </div>
                    </div>
                </filedset>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Data in cui si è verificato il fatto:</label>
                        <div class="col-sm-9">
                            <span class="form-control-static">{{report.date  | date : 'shortDate'}}</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Luogo fisico in cui si è verificato il fatto:</label>
                        <div class="col-sm-9">
                            <span class="form-control-static"><b>{{report.placeType}}:</b> {{report.place}}</span>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="report.authors">
                        <label class="col-sm-3 control-label">Autore/i del fatto:</label>
                        <div class="col-sm-9">
                            <span data-ng-if="report.authors"><em>nessun autore indicato</em></span>
                            <div ng-repeat="author in report.authors" class="form-group row">
                                <div class="col-sm-2"  >
                                    <span class="form-control-static" ng-if="author.firstname">{{author.firstname}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <span class="form-control-static" ng-if="author.lastname">{{author.lastname}}</span>
                                </div>
                                <div class="col-sm-8">
                                    <span class="form-control-static" ng-if="author.role">{{author.role}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="report.deponents">
                        <label class="col-sm-3 control-label">Eventuali altri soggetti che possono riferire sul fatto:</label>
                        <div class="col-sm-9">
                            <span data-ng-if="report.deponents"><em>nessun altro soggetto indicato</em></span>
                            <div ng-repeat="deponent in report.deponents" class="form-group row">
                                <div class="col-sm-2"  >
                                    <span class="form-control-static" ng-if="deponent.firstname">{{deponent.firstname}}</span>
                                </div>
                                <div class="col-sm-2">
                                    <span class="form-control-static" ng-if="deponent.lastname">{{deponent.lastname}}</span>
                                </div>
                                <div class="col-sm-5">
                                    <span class="form-control-static" ng-if="deponent.role">{{deponent.role}}</span>
                                </div>
                                <div class="col-sm-3">
                                    <span class="form-control-static" ng-if="deponent.contacts">{{deponent.contacts}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" ng-show="report.reason">
                        <label class="col-sm-3 control-label">Ritengo che le azioni od omissioni commesse o tentate siano:</label>
                        <div class="col-sm-9">
                                <span ng-hide="report.otherReason" class="form-control-static">{{report.reason}}
                                </span>
                            <span ng-show="report.otherReason" class="form-control-static">Altro: {{report.otherReason}}</span>
                        </div>
                    </div>

                    </fieldset>

                    <fieldset>
                        <div class="form-group" >
                            <label class="control-label">Descrizione del fatto</label>
                            <div class="form-control-static multi-linea">{{report.description}}</div>
                        </div>
                    </fieldset>

                    <fieldset data-ng-if="report.attachments" >
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Allegati:</label>
                            <div class="col-sm-10">
                                <div data-ng-repeat="attachment in report.attachments" style="margin-bottom: 20px">
                                    <div ng-show="attachment.filename" class="col col-sm-12" >
                                        <button class="btn btn-sm btn-primary pull-right" data-ng-click="download(attachment)">Download</button>

                                        <label>Nome:</label>
                                        <span><strong>{{attachment.filename}}</strong></span>
                                        <span>&nbsp;  dimensioni: {{attachment.size}} bytes</span>
                                        <span>&nbsp;  tipo:{{attachment.type}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                    <div class="status-container">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div ng-show="statuses.length" class="pull-right">
                                    <button class="btn btn-link" ng-hide="showReportStatusHistory"
                                            ng-click="toggleReportStatusHistoryVisibility()">vedi storico stato</button>
                                    <button class="btn btn-link" ng-show="showReportStatusHistory"
                                            ng-click="toggleReportStatusHistoryVisibility()">nascondi storico stato</button>
                                </div>

                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Stato della pratica: &nbsp;</label>

                                        <div ng-hide="report.folder == 'received'">
                                            <span><strong>{{ reportCurrentStatus | reportStatusValue }}</strong></span>
                                        </div>

                                        <div ng-show="report.folder == 'received'">

                                            <select class="form-control" data-ng-model="reportCurrentStatus.value" data-ng-change="onReportCurrentStatusChange()"
                                                    ng-options="option.value as option.name for option in statusOptions" has-selection />

                                            <button type="button" class="btn btn-danger btn-sm"
                                                    ng-click="sendStatus()" ng-show="reportCurrentStatus.isChanging" >
                                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                            </button>

                                            <button class="btn btn-small btn-primary"
                                                    ng-if="reportCurrentStatus.value == 2 && !reportCurrentStatus.isChanging && author == null"
                                                    ng-click="getAuthor()"
                                                    title="recupera autore della segnalazione">Recupera identità del segnalante
                                            </button>
                                        </div>

                                    </div>
                                    <div>
                                        <small class="text-danger animate" ng-show="reportCurrentStatusMessageShow">{{reportCurrentStatusMessage}}</small>
                                        <input style="width:100%" type="text" class="form-control" ng-model="reportCurrentStatus.note"
                                               placeholder="aggiungi una nota" ng-show="reportCurrentStatus.isChanging" />
                                    </div>

                                    <div ng-show="showReportStatusHistory">
                                        <hr/>
                                        <table>
                                            <thead><th>data</th><th>stato</th><th>note</th></thead>
                                            <tbody>
                                            <tr ng-repeat="status in statuses">
                                                <td>{{ status.createDate | date:'medium' }}</td>
                                                <td>{{ status | reportStatusValue }}</td>
                                                <td>{{ status.note }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    </fieldset>

                    <fieldset data-ng-show="(report.folder == 'received') && author">
                        <h4 class="text-danger">Segnalante:</h4>
                        <div class="panel panel-danger">
                            <div class="panel-body">

                                <span>{{author}}</span>
                                <!--
                                <div class="form-group row">

                                      <span class="form-control-static">{{ report.sender.firstName }}</span>
                                </div>
                                <div class="form-group row">
                                      <label class="col-sm-2 control-label">Cognome:</label>
                                      <span class="form-control-static">{{ report.sender.lastName }}</span>
                                </div>
                                <div class="form-group row">
                                      <label class="col-sm-2 control-label">Codice fiscale:</label>
                                      <span class="form-control-static">{{ report.sender.fiscalcode }}</span>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label">Indirizzo email:</label>
                                    <div class="col-sm-9">
                                        <span class="form-control-static">{{ report.sender.email }}</span>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </fieldset>

                    <div class="comments-container">
                        <div class="pull-right" ng-hide="comment">
                            <button class="btn btn-primary" ng-click="addComment()" ng-if="report.folder == 'received'"
                                    ng-hide="comments.length">Scrivi</button>

                            <button class="btn btn-primary" ng-click="addComment()" ng-show="comments.length">Rispondi</button>
                        </div>

                        <div ng-show="comment">
                            <div ng-include="'partials/comment-add.html'"></div>
                        </div>

                        <div ng-show="comments.length">
                            <h4>Discussioni:</h4>
                        </div>

                        <div ng-show="showComments">
                            <div ng-repeat="comment in comments" class="row">
                                <div ng-include="'partials/comment-view.html'"></div>
                            </div>
                        </div>
                    </div>
            </div>
        </div> <!-- end panel -->

    </div> <!-- end  	<div ng-show="report"> -->
</div>