<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">.</Property>
    </Properties>
    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <EnhancedLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %throwable{10} %l - %msg%n"/>
        </Console>
        <RollingFile name="file-log" fileName="${log-path}/WBCP.log" filePattern="${log-path}/%d{yyyy-MM-dd}-WBCP-web.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %throwable{10} %l - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>     
    </Appenders>
    <Loggers>
        <Logger name="it.gpi" level="trace" additivity="false">
            <appender-ref ref="file-log" level="trace"/>
            <appender-ref ref="console-log" level="trace"/>         
        </Logger>
        <Root level="info" additivity="false">
            <AppenderRef ref="console-log"/>
        </Root>
    </Loggers>
</Configuration>
