<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="row">
		<form novalidate name="form">
			<div class="form col-md-12 center-block">
				<fieldset>
					<div class="form-group has-feedback" 
							ng-class="(form.$submitted || form.description.$touched) ? (form.description.$valid ? 'has-success' : 'has-error') : ''">
					
						<label class="control-label"><strong>Corpo del messaggio</strong></label>
						<textarea rows="8" class="form-control" name="description" ng-model="comment.description" required></textarea>
						
						<div ng-show="form.$submitted || form.description.$touched">
							<span class="small text-danger" ng-show="form.description.$error.required">Prego, fornire una descrizone</span>
						</div>
					</div>
				</fieldset>
			<div class="form-group">
				<div class="col-sm-12 text-right">
					<button class="btn btn-default" ng-click="cancelComment()">Annulla</button>
				  <button type="submit" class="btn btn-primary" ng-click="sendComment()">Invia</button>
				</div>
			</div>

		</form>
</div>
