<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <div class="logo"></div>
            <h1 class="text-center">WhistleBlowing</h1>
        </div>
        <div class="modal-body">
            <p>I primi in grado di intuire o ravvisare le anomalie all'interno di un'organizzazione sono, quasi sempre, coloro che vi lavorano. I lavoratori raramente danno voce ai propri dubbi per pigrizia, ignoranza, egoismo ma, soprattutto, per paura di ritorsioni o per la frustrazione di non vedere un seguito concreto e fattivo alle proprie denunce.</p>
            <p>Con la Determinazione n. 6 del 28 Aprile 2015 dell'Autorità Nazionale Anticorruzione, istituisce in Italia la figura del “whistleblower” (soffiatore nel fischietto), ovvero del lavoratore che, durante l’attività lavorativa all’interno di un’azienda, rileva una possibile frode, un pericolo o un altro serio rischio che possa danneggiare clienti, colleghi, azionisti, il pubblico o la stessa reputazione dell’impresa/ente pubblico/fondazione.</p>
            <p>Questo portale é volto alla creazione di un canale di comunicazione riservato fra il Responsabile della prevenzione della corruzione ed il lavoratore, garantendo la riservatezza dell'identità del segnalante e la possibilità di comunicazione immediata, diretta e bi-direzionale.</p>
        </div>
        <div class="homepage-image">
            <div class="homepage-enter-button text-center">
                <button class="btn btn-primary btn-large" ng-click="enter()">Entra</button>
            </div>
        </div>
    </div>
    <div class="modal-footer"></div>
    </div>
</div>
