<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div>
  <div class="modal-header">
	<h4 class="modal-title" id="myModal">Destinatario della segnalazione</h4>
  </div>
  <div class="modal-body">
	  <form>
		  <div class="form-group">
			  <label class="control-label">Organizzazione:</label>
			  <select class="form-control" data-ng-model="selectedOrganization"
			  	data-ng-options="org as org.name for org in organizations" data-ng-change="onSelected()">
			  </select>
		  </div>
		  <br/>
		  <div class="form-group" data-ng-if="selectedOrganization.userInCharge">
			  <div data-ng-if="!selected.recipient">
				  <span class="hint-block">Seleziona il destinatario della tua segnalazione</span>
			  </div>

			  <label>
				<input type="radio" ng-model="selected.recipient" ng-value="selectedOrganization.userInCharge">
				{{selectedOrganization.userInCharge.firstName}} {{selectedOrganization.userInCharge.lastName}} [{{selectedOrganization.userInCharge.email}}]
			 </label>
		  </div>
	  </form>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">Annulla</button>
	<button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="!selected.recipient">Seleziona</button>
  </div>
</div>
							