<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="container-header">
		<h2 class="title-application">WhistleBlowing</h2>
		<p class="autenticazione">Utente: <span>{{ user.firstName }} {{ user.lastName }} </span>
		    <span ng-click="logout()" class="logout text-primary">(disconnetti)</span></p>
		<div class="clear"></div> 
 </div>
 <div>

	<div ng-hide="!sending.isSending" ng-cloak>	
		<div id="sendingModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog">
				<div class="modal-content">
			  	<div class="modal-header">
			     	<h1 class="text-center">Invio in corso...</h1>
			  	</div>

					<div class="col-md-10 col-md-offset-1">
			      <div class="column-header">
			        <h3 class="text-center text-success" ng-show="sending.successMessage">{{ sending.successMessage }}</h3>
			        <h3 class="text-center text-danger" ng-show="sending.erroMessage">{{ sending.erroMessage }}</h3>
				    </div>
				    <div class="modal-body">
				      <p>{{ sending.errorDetails }}</p>
							<div ng-show="sending.mode == 'report'">  
				     	 <a class="btn btn-link btn-block" ng-show="sending.success" href="#/report-list">Torna alla lista</a>
				      	<a class="btn btn-link btn-block" ng-show="sending.error" ng-click="closeDialog()">Chiudi</a>
				   		</div>
				   		<div ng-show="sending.mode == 'comment'">  
				      	<a class="btn btn-link btn-block" ng-click="closeDialog()">Chiudi</a>
				   		</div>
				    </div>
				  </div>
	     		<div class="modal-footer"></div>
	      </div>
	    </div>
	  </div>
	</div>

	<div ng-show="mode=='view'">
		<div ng-include="'partials/report-view.html'"></div>
	
	</div>

	<div ng-show="mode =='add'">
		
		
		
		<!-- <div ng-include="'partials/report-add.html'"></div>-->



<tabset>
    <tab heading="Informazioni di base" active="tabs['base'].active" />
    <tab heading="Informazioni aggiuntive" active="tabs['advance'].active" />
 </tabset>

  <div class="container-body">
		<form novalidate name="form">
      <div class="tab-pane" ng-class="tabs['base'].active ? 'active' : ''">
			<br/>
			<a class="btn-link pull-right btn-back-to-list" href="#/report-list">torna alla lista</a>
		 	<div class="clear"></div> 
			<div class="form col-md-12 center-block">
				<fieldset>
					<div class="form-group has-feedback" 
							ng-class="(form.$submitted || form.description.$touched) ? (form.description.$valid ? 'has-success' : 'has-error') : ''">
					
						<label class="control-label">Descrizione dell'evento:*</label>
						<textarea rows="8" class="form-control" name="description" ng-model="report.description" required></textarea>
						
						<div ng-show="form.$submitted || form.description.$touched">
							<span class="small text-danger" ng-show="form.description.$error.required">Prego, fornire una descrizone</span>
						</div>
					</div>
					  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.reason.$touched) ? (form.reason.$valid ? 'has-success' : 'has-error') : ''">

					  	<label class="col-sm-2 control-label">E' un illecito perchè:*</label>
							<div class="col-sm-10">
							<select class="form-control" ng-model="report.reason"  name="reason"
								ng-options="option.name group by option.type for option in reasonOptions" has-selection>
								 <option value="">-- seleziona motivo --</option> 
							</select>
						</div>
					  </div>
					  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.place.$touched) ? (form.place.$valid ? 'has-success' : 'has-error') : ''">
						<label class="col-sm-2 control-label">Dove è avvenuto il fatto:*</label>
						<div class="col-sm-10">
							<select  class="form-control" ng-model="report.place" name="place"
								ng-options="option.name group by option.type for option in placeOptions" has-selection>
								 <option value="">-- seleziona luogo --</option>
							</select>
						</div>
					  </div>
					  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.datePeriod.$touched) ? (form.datePeriod.$valid ? 'has-success' : 'has-error') : ''">
						<label class="col-sm-2 control-label">Quando è avvenuto:*</label>
						<div class="col-sm-10">
							 <input type="text" class="form-control" name="datePeriod" ng-model="report.datePeriod" required />

				    		<div ng-show="form.$submitted || form.datePeriod.$touched" >
								<span class="small text-danger" ng-show="form.datePeriod.$error.required">Campo obbligatorio</span>
							</div>
			             
						</div>
					  </div>
					</fieldset>
				<fieldset>
				<h4>Informazioni personali:</h4>
					  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentposition.$touched) ? (form.currentposition.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Posizione attuale:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="currentposition" ng-model="report.personalInformations.current.position" required />
					 	 <div ng-show="form.$submitted || form.currentposition.$touched" >
							<span class="small text-danger" ng-show="form.currentposition.$error.required">Campo obbligatorio</span>
						</div>
					  </div>
				  </div>
				 <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentrole.$touched) ? (form.currentrole.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Ruolo svolto:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="currentrole" ng-model="report.personalInformations.current.role" required/>
					 	 <div ng-show="form.$submitted || form.currentrole.$touched" >
							<span class="small text-danger" ng-show="form.currentrole.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				  </div>
				  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentplace.$touched) ? (form.currentplace.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Luogo di lavoro:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="currentplace" ng-model="report.personalInformations.current.place" required/>
					 	 <div ng-show="form.$submitted || form.currentplace.$touched" >
							<span class="small text-danger" ng-show="form.currentplace.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				  </div>
				  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousposition.$touched) ? (form.previousposition.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Posizione all’epoca dei fatti:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="previousposition" ng-model="report.personalInformations.previous.position" required/>
					 	 <div ng-show="form.$submitted || form.previousposition.$touched" >
							<span class="small text-danger" ng-show="form.previousposition.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				  </div>
				  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousrole.$touched) ? (form.previousrole.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Ruolo svolto all’epoca dei fatti:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="previousrole" ng-model="report.personalInformations.previous.role" required/>
					 	 <div ng-show="form.$submitted || form.previousrole.$touched" >
							<span class="small text-danger" ng-show="form.previousrole.$error.required">Campo obbligatorio</span>
						</div>

					</div>
				  </div>
				  <div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousplace.$touched) ? (form.previousplace.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-2 control-label">Luogo di lavoro all’epoca dei fatti:*</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" name="previousplace" ng-model="report.personalInformations.previous.place" required/>
 						<div ng-show="form.$submitted || form.previousplace.$touched" >
							<span class="small text-danger" ng-show="form.previousplace.$error.required">Campo obbligatorio</span>
						</div>
				  </div>
				</div>
				  <div class="form-group row">
					<div class="col-sm-offset-2 col-sm-10">
					  <div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="report.alreadyReported"> Ho già segnalato il fatto
						</label>
					 </div>
					 <div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="report.alreadyReported"  ng-true-value="false" ng-false-value="true"> Non ho mai segnalato il fatto
						</label>
					  </div>
					</div>
				  </div>
			 </fieldset> 
			<fieldset ng-show="report.alreadyReported">
				<h4>Segnalazioni effettuate:</h4>

			
				<div ng-repeat="(key, related) in report.relatedReports" class="form-group row">
					<div class="col-sm-3 col-xs-8"  >
						<select  class="form-control" ng-model="related.recipient" 
							ng-options="option.name for option in recipientOptions" required>
							<option value="">-- seleziona destinatario --</option>
						</select>
				  </div>
				  <div class="col-sm-2 col-xs-4">
					 <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="related.date" is-open="datePickerStatus[key].opened" datepicker-options="dateOptions" required close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="openDatePicker(key,$event)">
			                	<i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
				  </div>
				  <div class="col-sm-7">
				  	
					<input type="text" class="form-control segnalazioni" placeholder="note" ng-model="related.note">
					<a class="btn btn-default delete" ng-click="deleteRelated($index)">x</a>
				  </div>

				</div>
				<span class="pull-right">
					<button type="button" class="btn btn-link" ng-click="addRelated()">Aggiungi</button>
				</span>
			</fieldset>
			
			</div>
			<div class="clear"></div>
			<br/><br/>	
        </div>
       
        <div class="tab-pane" ng-class="tabs['advance'].active ? 'active' : ''">
        	<br/>
			<div class="form col-md-12 center-block">
	        	<fieldset>
					 <div class="form-group row" >
						<label class="col-sm-2 control-label">Data del fatto:</label>
						<div class="col-sm-10">
					
						  <p class="input-group">
			              <input type="text" class="form-control" name="date" datepicker-popup="dd-MM-yyyy" ng-model="report.additional.date" is-open="datePickerStatus[0].opened" datepicker-options="dateOptions"  close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="openDatePicker(0, $event)">
			                	<i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>

						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Luogo in cui è avvenuto:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.place">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Autore/i del fatto:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.author">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Persone coinvolte:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.people">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Imprese coinvolte:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.companies">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Come si è venuti a conoscenza dell'evento:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.howknown">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Altri testimoni:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control"  ng-model="report.additional.deponents">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-2 control-label">Area a cui può essere riferito il fatto:</label>
						<div class="col-sm-10">
						  <input type="text" class="form-control" ng-model="report.additional.area">
						</div>
	        	</fieldset>
        	</div>
			<div class="clear"></div>	
        </div>

	<div class="form-group" ng-class="validation.disclaimer.error">
			<div class="col-sm-12">
			  <div class="checkbox">
				<label>
				  <input type="checkbox" name="disclaimer" ng-model="disclaimer" required> Il segnalante è consapevole delle responsabilità e delle conseguenze civili e penali previste in caso di dichiarazioni mendaci e/o formazione o uso di atti falsi, anche ai sensi e per gli effetti dell'art. 76 del d.P.R. 445/2000
				</label>
			  </div>

			 <div ng-show="form.$submitted">
	           
	            <span class="small text-danger" ng-show="form.disclaimer.$error.required" >Devi accettare le condizioni per proseguire</span>
	         </div>

			</div>
		  </div>

			<div class="form-group">
				<div class="col-sm-12 text-right">
				  <button type="submit" class="btn btn-primary" ng-click="doSend()">Invia Segnalazione</button>
				</div>
			</div>

		</form>
</div>






	
	</div> 
       
	</div>
</div>
