<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container" tabindex="-1" role="dialog" aria-hidden="true" >
  <div class="container-header">
		<h2 class="title-application">WhistleBlowing</h2>
		<p class="autenticazione">Utente: <span>{{ user.firstName }} {{ user.lastName }} </span>
		    <span ng-click="logout()" class="logout text-primary">(disconnetti)</span></p>
		<div class="clear"></div> 
 </div>
 <div>

	<div ng-hide="!sending.isSending" ng-cloak>	
		<div id="sendingModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog">
				<div class="modal-content">
			  	<div class="modal-header">
			     	<h1 class="text-center">Invio in corso...</h1>
			  	</div>

					<div class="col-md-10 col-md-offset-1">
			      <div class="column-header">
			        <h3 class="text-center text-success" ng-show="sending.successMessage">{{ sending.successMessage }}</h3>
			        <h3 class="text-center text-danger" ng-show="sending.erroMessage">{{ sending.erroMessage }}</h3>
				    </div>
				    <div class="modal-body">
				      <p>{{ sending.errorDetails }}</p>
							<div ng-show="sending.mode == 'report'">  
				     	 <a class="btn btn-link btn-block" ng-show="sending.success" href="#/report-list">Torna alla lista</a>
				      	<a class="btn btn-link btn-block" ng-show="sending.error" ng-click="closeDialog()">Chiudi</a>
				   		</div>
				   		<div ng-show="sending.mode == 'comment'">  
				      	<a class="btn btn-link btn-block" ng-click="closeDialog()">Chiudi</a>
				   		</div>
				    </div>
				  </div>
	     		<div class="modal-footer"></div>
	      </div>
	    </div>
	  </div>
	</div>

	<div ng-show="mode=='view'">
		<div ng-include="'partials/report-view.html'"></div>
	
	</div>

	<div ng-show="mode =='add'">
		
		
		
		<!-- <div ng-include="'partials/report-add.html'"></div>-->



<tabset>
    <tab heading="Informazioni" active="tabs['base'].active" />
 <!--   <tab heading="Allegati" active="tabs['advance'].active" /> -->
 </tabset>

  <div class="container-body">
		<form novalidate name="form">
      <div class="tab-pane" ng-class="tabs['base'].active ? 'active' : ''">
			<br/>
			<a class="btn-link pull-right btn-back-to-list" href="#/report-list">torna alla lista</a>
		 	<div class="clear"></div> 
			<div class="form col-md-12 center-block">
				<fieldset>
					
<!-- Qualifica servizio attuale*:  report.currentPosition -->
					<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentPosition.$touched) ? (form.currentPosition.$valid ? 'has-success' : 'has-error') : ''">
						<label class="col-sm-3 control-label">Qualifica servizio attuale*:</label>
						<div class="col-sm-9">
						  <input type="text" class="form-control" name="currentPosition" ng-model="report.currentPosition" required />
						 	<div ng-show="form.$submitted || form.currentPosition.$touched" >
								<span class="small text-danger" ng-show="form.currentPosition.$error.required">Campo obbligatorio</span>
							</div>
						</div>
					</div>

	<!-- Incarico (Ruolo) di servizio attuale*: report.currentRole -->
				<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentRole.$touched) ? (form.currentRole.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-3 control-label">Incarico (Ruolo) di servizio attuale*:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" name="currentRole" ng-model="report.currentRole" required/>
					 	<div ng-show="form.$submitted || form.currentRole.$touched" >
							<span class="small text-danger" ng-show="form.currentRole.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				</div>

<!-- Unità Organizzativa e Sede di servizio attuale*:   report.currentOrganization-->
				<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.currentOrganization.$touched) ? (form.currentOrganization.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-3 control-label">Unità Organizzativa e Sede di servizio attuale*:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" name="currentOrganization" ng-model="report.currentOrganization" required/>
						<div ng-show="form.$submitted || form.currentOrganization.$touched" >
							<span class="small text-danger" ng-show="form.currentOrganization.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				</div>

<!-- Qualifica servizio all'epoca del fatto segnalato*:  report.previousPosition-->
				<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousPosition.$touched) ? (form.previousPosition.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-3 control-label">Qualifica servizio all'epoca del fatto segnalato*:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" name="previousPosition" ng-model="report.previousPosition" required/>
					 		<div ng-show="form.$submitted || form.previousPosition.$touched" >
							<span class="small text-danger" ng-show="form.previousPosition.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				 </div>

<!-- Incarico (Ruolo) di servizio all'epoca del fatto segnalato*:  report.previousRole -->
				<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousRole.$touched) ? (form.previousRole.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-3 control-label">Incarico (Ruolo) di servizio
all'epoca del fatto segnalato*:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" name="previousRole" ng-model="report.previousRole" required/>
					 	<div ng-show="form.$submitted || form.previousRole.$touched" >
							<span class="small text-danger" ng-show="form.previousRole.$error.required">Campo obbligatorio</span>
						</div>
					</div>
				</div>

<!-- Unità Organizzativa e Sede di servizio all'epoca del fatto*: report.previousOrganization-->	 
				<div class="form-group row has-feedback" 
							ng-class="(form.$submitted || form.previousOrganization.$touched) ? (form.previousOrganization.$valid ? 'has-success' : 'has-error') : ''">
					<label class="col-sm-3 control-label">Unità Organizzativa e Sede di servizio all'epoca del fatto*:</label>
					<div class="col-sm-9">
					  <input type="text" class="form-control" name="previousOrganization" ng-model="report.previousOrganization" required/>
 						<div ng-show="form.$submitted || form.previousOrganization.$touched" >
							<span class="small text-danger" ng-show="form.previousOrganization.$error.required">Campo obbligatorio</span>
						</div>
				  </div>
				</div>
			</fieldset>

<!-- La segnalazione è già stata effettuata ad altri soggetti: report.alreadyReported-->	
			<fieldset>
				<div class="form-group row">
					<div class="col-sm-offset-3 col-sm-9">
					  <div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="report.alreadyReported" /> La segnalazione è già stata effettuata ad altri soggetti
						</label>
					 </div>
					 <div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="report.alreadyReported"  ng-true-value="false" ng-false-value="true"> La segnalazione NON è già stata effettuata ad altri soggetti
						</label>
					  </div>
					</div>
				</div>
	
				<div class="form-group" ng-show="report.alreadyReported">
					<h4>Segnalazioni già effettuate:</h4>
					<div class="element-list-container">
						<div ng-repeat="(key, related) in report.relatedReports">

							<div class="pull-right">
						  		<a class="btn btn-default delete" ng-click="deleteRelated($index)">x</a>
						  		<a class="btn btn-default add" ng-show="$last" ng-click="addRelated()">+</a>
						  	</div>
							<div class="form-group element-list-item" ng-class="$last ? 'last' : ''">
								<div class="row">
									<div class="col-sm-3 col-xs-8"  >
										<select  class="form-control" ng-model="related.recipient" 
											ng-options="option.name as option.name for option in recipientOptions">
											<option value=""> -- soggetto -- </option>
										</select>
								  	</div>
						  			<div class="col-sm-2 col-xs-4">
						 				<span class="input-group">
					          				<input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" placeholder="data" ng-model="related.date" is-open="datePickerStatus[key].opened" datepicker-options="dateOptions" close-text="Close" />
									        <span class="input-group-btn">
									          	<button type="button" class="btn btn-default" ng-click="openDatePicker(key,$event)">
									          		<i class="glyphicon glyphicon-calendar"></i>
									          	</button>
									        </span>
				        				</span>
					  				</div>
							  		<div class="col-sm-7">	
										<input type="text" class="form-control segnalazioni" placeholder="esito della segnalazione" ng-model="related.note"/>
							  		</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			
			<fieldset>
	<!-- Ente in cui si è verificato il fatto*: report.organization -->
		 	<div class="form-group row has-feedback" 
				ng-class="(form.$submitted || form.organization.$touched) ? (form.organization.$valid ? 'has-success' : 'has-error') : ''">
				<label class="col-sm-3 control-label">Ente in cui si è verificato il fatto*:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="organization" ng-model="report.organization" required/>
					<div ng-show="form.$submitted || form.organization.$touched" >
						<span class="small text-danger" ng-show="form.organization.$error.required">Campo obbligatorio</span>
					</div>
				</div>
		  </div>

  <!-- Periodo in cui si è verificato il fatto*: report.datePeriod -->
			<div class="form-group row has-feedback" 
					ng-class="(form.$submitted || form.datePeriod.$touched) ? (form.datePeriod.$valid ? 'has-success' : 'has-error') : ''">
				<label class="col-sm-3 control-label">Periodo in cui si è verificato il fatto*:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="datePeriod" ng-model="report.datePeriod" required />
		    		<div ng-show="form.$submitted || form.datePeriod.$touched" >
						<span class="small text-danger" ng-show="form.datePeriod.$error.required">Campo obbligatorio</span>
					</div>     
				</div>
			</div>

	<!--Data in cui si è verificato il fatto: report.date -->
			<div class="form-group row" >
				<label class="col-sm-3 control-label">Data in cui si è verificato il fatto:</label>
				<div class="col-sm-9">
				  <p class="input-group">
			          <input type="text" class="form-control" name="date" datepicker-popup="dd-MM-yyyy" ng-model="report.date" is-open="datePickerStatus['date'].opened" datepicker-options="dateOptions"  close-text="Close" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="openDatePicker('date', $event)">
			             	<i class="glyphicon glyphicon-calendar"></i>
			            </button>
			           </span>
			         </p>
				</div>
			</div>

<!-- Luogo fisico in cui si è verificato il fatto report.place -->
 			<div class="form-group row">
				<label class="col-sm-3 control-label">Luogo fisico in cui si è verificato il fatto:</label>
				<div class="col-sm-9">
		  		<input type="text" class="form-control" ng-model="report.place">
				</div>
		  </div>

<!--	Soggetto che ha commesso il fatto: Nome, Cognome, Qualifica (possono essere inseriti più nomi) report.authors --> 
		<div class="form-group row">
			<label class="col-sm-3 control-label">Soggetto che ha commesso il fatto: (possono essere inseriti più nomi)</label>
			<div class="col-sm-9 element-list-container">				
				
				<div ng-repeat="author in report.authors">
					
					<div class="pull-right">
				  		<a class="btn btn-default delete" ng-click="deleteAuthor($index)">x</a>
				  		<a class="btn btn-default add" ng-show="$last" ng-click="addAuthor()">+</a>
				  	</div>

					<div class="form-group element-list-item" ng-class="$last ? 'last' : ''">
						<div class="row">
							<div class="col-sm-2">	
								<input type="text" class="form-control segnalazioni" placeholder="nome" ng-model="author.firstname"/>
						  	</div>
						  	<div class="col-sm-2">	
								<input type="text" class="form-control segnalazioni" placeholder="cognome" ng-model="author.lastname"/>
						  	</div>
						  	<div class="col-sm-8">	
								<input type="text" class="form-control segnalazioni" placeholder="qualifica" ng-model="author.role"/>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>

<!--Eventuali soggetti privati coinvolti: report.people-->
		<div class="form-group row">
			<label class="col-sm-3 control-label">Eventuali soggetti privati coinvolti:</label>
			<div class="col-sm-9">
			  <input type="text" class="form-control" ng-model="report.people">
			</div>
		</div>

<!--Eventuali imprese coinvolte: report.companies  report.companies -->			
		<div class="form-group row">
			<label class="col-sm-3 control-label">Eventuali imprese coinvolte:</label>
			<div class="col-sm-9">
			  <input type="text" class="form-control" ng-model="report.companies">
			</div>
		</div>

<!-- Modalità con cui è venuto a conoscenza del fatto: report.howKnown-->
		<div class="form-group row">
			<label class="col-sm-3 control-label">Modalità con cui è venuto a conoscenza del fatto:</label>
			<div class="col-sm-9">
			  <input type="text" class="form-control" ng-model="report.howKnown">
			</div>
		</div>

<!-- 		Eventuali altri soggetti che possono riferire sul fatto report.deponents	-->
		<div class="form-group row">
			<label class="col-sm-3 control-label">Eventuali altri soggetti che possono riferire sul fatto:</label>
			<div class="col-sm-9 element-list-container">
			 	<div ng-repeat="deponent in report.deponents">

			 		<div class="pull-right">
				  		<a class="btn btn-default delete" ng-click="deleteDeponent($index)">x</a>
				  		<a class="btn btn-default add" ng-show="$last" ng-click="addDeponent()">+</a>
				  	</div>

			 	 	<div class="form-group element-list-item" ng-class="$last ? 'last' : ''">
						<div class="row">
							<div class="col-sm-2">	
								<input type="text" class="form-control segnalazioni" placeholder="nome" ng-model="deponent.firstname"/>
					  		</div>
						  	<div class="col-sm-2">	
								<input type="text" class="form-control segnalazioni" placeholder="cognome" ng-model="deponent.lastname"/>
						  	</div>
						  	<div class="col-sm-5">	
								<input type="text" class="form-control segnalazioni" placeholder="qualifica" ng-model="deponent.role"/>
						  	</div>
						  	<div class="col-sm-3">	
								<input type="text" class="form-control segnalazioni" placeholder="recapiti" ng-model="deponent.contacts"/>
						  	</div>
						 </div>
					</div>
				</div>
			</div>
		</div>

	<!--Area a cui può essere riferito il fatto: report.area -->
		<div class="form-group row has-feedback" 
			ng-class="(form.$submitted || form.area.$touched) ? (form.area.$valid ? 'has-success' : 'has-error') : ''">
	
		  	<label class="col-sm-3 control-label">Area a cui può essere riferito il fatto*:</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="report.area"  name="area"
					ng-options="option.name as option.name for option in areaOptions" has-selection>
					 <option value="">-- seleziona --</option> 
				</select>
			</div>
		</div>
		<div class="form-group row" ng-show="report.area == 'Altro'">
			<div class="col-sm-offset-3 col-sm-9">
			  	<input type="text" class="form-control" placeholder="specificare" ng-model="report.otherArea">
			</div>
		</div>

	<!--Settore cui può essere riferito il fatto: report.sector-->
		<div class="form-group row has-feedback" 
			ng-class="(form.$submitted || form.sector.$touched) ? (form.sector.$valid ? 'has-success' : 'has-error') : ''">
		  	<label class="col-sm-3 control-label">Settore cui può essere riferito il fatto*:</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="report.sector"  name="sector"
					ng-options="option.name as option.name for option in sectorOptions" has-selection>
					 <option value="">-- seleziona --</option> 
				</select>
			</div>
		</div>

	  	<div class="form-group row" ng-show="report.sector == 'Altro'">
			<div class="col-sm-offset-3 col-sm-9">
			  	<input type="text" class="form-control" placeholder="specificare" ng-model="report.otherSector">
			</div>
		</div>

	</fieldset>

	<fieldset>

<!-- Descrizione del fatto*: report.description-->
		<div class="form-group has-feedback" 
				ng-class="(form.$submitted || form.description.$touched) ? (form.description.$valid ? 'has-success' : 'has-error') : ''">
		
			<label class="control-label">Descrizione del fatto*:</label>
			<textarea rows="8" class="form-control" name="description" ng-model="report.description" required></textarea>
			
			<div ng-show="form.$submitted || form.description.$touched">
				<span class="small text-danger" ng-show="form.description.$error.required">Prego, fornire una descrizione del fatto</span>
			</div>
		</div>

<!-- La condotta è illecita perchè: report.reason -->
		<div class="form-group row has-feedback" 
				ng-class="(form.$submitted || form.reason.$touched) ? (form.reason.$valid ? 'has-success' : 'has-error') : ''">
		  	<label class="col-sm-3 control-label">La condotta è illecita perchè*:</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="report.reason"  name="reason"
					ng-options="option.name as option.name for option in reasonOptions" has-selection>
					 <option value="">-- seleziona motivo --</option> 
				</select>
			</div>
		</div>

	  	<div class="form-group row" ng-show="report.reason == 'Altro'">
			<div class="col-sm-offset-3 col-sm-9">
			  	<input type="text" class="form-control" placeholder="specificare" ng-model="report.otherReason">
			</div>
		</div>

	<!-- Allega carta di identità report.identityCard -->
		<div class="form-group row has-feedback" 
				ng-class="form.$submitted  ? (report.identityCard != null ? 'has-success' : 'has-error') : ''">		  	<label class="col-sm-3 control-label">Allega carta di identità*:</label>
			<div class="col-sm-9">
				
				<div dropzone="identityCardConfig" ng-hide="report.identityCard">
              		<div id="filedrag" >Trascina in questo spazio la scansione della tua carta di identità, per procedere al caricamento
              		</div>
	              	<div id="submitbutton" style="display: none;">
	              	<!--<button type="submit">Upload Files</button>-->
	              	</div>
            	</div>

	            <div ng-show="report.identityCard">
	            	<a href="" class="pull-right" ng-click="cleanIdentityCard()">[cancel]</a>
	           
	              	<label>Allegato:</label>
	              	<span><strong>{{report.identityCard.filename}}<strong></span>
	              	<span>&nbsp;  dimensioni: {{report.identityCard.size}} bytes</span>
	              	<span>&nbsp;  tipo:{{report.identityCard.type}}</span>
	            </div>
	    		
	    		<div ng-show="form.$submitted">
					<span class="small text-danger" ng-hide="report.identityCard">
						Prego, caricare la propria Carta di Identità</span>
				</div>

			</div>
		</div>

	</fieldset>
	

	</div>
	<div class="clear"></div>
	
			<br/><br/>	
    </div>   
    <div class="tab-pane" ng-class="tabs['advance'].active ? 'active' : ''">
    	<br/>
		<div class="form col-md-12 center-block">
        	<fieldset>

	
	        </fieldset>
    	</div>
		<div class="clear"></div>	
    </div>

	<div class="form-group" ng-class="validation.disclaimer.error">
		<div class="col-sm-12">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="disclaimer" ng-model="disclaimer" required> Il segnalante è consapevole delle responsabilità e delle conseguenze civili e penali previste in caso di dichiarazioni mendaci e/o formazione o uso di atti falsi, anche ai sensi e per gli effetti dell'art. 76 del d.P.R. 445/2000
				</label>
			</div>

			<div ng-show="form.$submitted">
	            <span class="small text-danger" ng-show="form.disclaimer.$error.required" >Devi accettare le condizioni per proseguire</span>
	        </div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-12 text-right">
			<button type="submit" class="btn btn-primary" ng-click="doSend()">Invia Segnalazione</button>
		</div>
	</div>

	</form>
</div>






	
	</div> 
       
	</div>
</div>
