<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="container" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="container-header">
	<h2 class="title-application">WhistleBlowing</h2>
	<p class="autenticazione">Utente: <span>{{ user.firstName }} {{ user.lastName }} </span> 
    <span ng-click="logout()" class="logout text-primary">(disconnetti)</span></p>
	<div class="clear"></div> 
 </div>

  <button class="btn btn-primary pull-right" ng-click="add()">Nuova segnalazione</button>

  <div class="container-body">
    
 <tabset>
    <tab heading="Segnalazioni inviate" active="tabs['sent'].active" ng-show="tabs['sent'].enabled" />
    <tab heading="Segnalazioni ricevute" active="tabs['received'].active" ng-show="tabs['received'].enabled" />
 </tabset>
		
  <div class="tab-content">
    
   
    <div class="elenco-messaggi">


      <div ng-show="err" class="panel panel-danger">
        <div class="panel-body">
          <h4>{{ err.message }}</h4>
          <p>{{ err.details}}</p>
        </div>
      </div>
    
      <div ng-show="!reports.length">Nessuna segnalazione trovata</div>

        <div ng-show="reports.length" class="tab-pane" ng-class="tabs['sent'].active ? 'active' : ''">
      		<table class="table table-hover elenco">
            <thead>
              <th>data</th><th>azienda</th><th></th><th></th><th></th>
            </thead>
              <tbody>
                 <tr ng-class="report.status ? '': 'unread'" ng-repeat="report in reports | filter:{ folder : 'sent' }" ng-click="viewDetail(report.uuid)">
                      <td class="date">{{report.createDate | date : 'shortDate'}}</td>
                      <td>{{report.recipientOrganization.name}}</td>
                      <td>{{report.description | cut: true : 100}}</td>
                      <td>{{report.comments | commentsCount }}</td>
                      <td class="stato text-right">
                        {{ report.status | reportStatusValue}}&nbsp;&nbsp;&nbsp;
                        <img src="{{ report.status | reportStatusIcon}}"/>
                      </td>
                 </tr>
              </tbody>
            </table>
              <div class="clear"></div> 
        </div>
        <div ng-show="reports.length" class="tab-pane" ng-class="tabs['received'].active ? 'active' : ''">
          <table class="table table-hover elenco">
            <thead>
              <th>data</th><th>mittente</th><th></th><th></th><th></th><th></th>
            </thead>
            <tbody>
               <tr ng-class="report.status ? '': 'unread'" ng-click="viewDetail(report.uuid)"
                ng-repeat="report in reports | filter:{ folder : 'received' }" >
                    <td class="date">{{report.createDate | date : 'shortDate'}}</td>
                    <td>{{report.sender.firstName}} {{report.sender.lastName}}</td>
                    <td>{{report.sender.fiscalcode}}</td>
                    <td>{{report.description | cut: true : 100}}</td>
                    <td>{{report.comments | commentsCount }}</td>
                    <td class="stato text-right">
                      {{ report.status | reportStatusValue}}&nbsp;&nbsp;&nbsp;
                     <img src="{{ report.status | reportStatusIcon}}"/>
                    </td>
               </tr>
            </tbody>
          </table>
          <div class="clear"></div> 
        </div>
      </div>             
    </div>       
  </div>
</div>
